.controller-container {
  display: flex;
  height: 100vh;
}

.controller-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #b5b5b5;
}

.controller-main {
  padding: 20px;
  overflow-x: auto;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white;
}

.controller-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.controller-camera-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 80px;
  margin-top: 20px;
  max-width: 600px;
  min-width: 600px; /* Neue Mindestbreite */
  min-height: 520px; /* Neue Mindesthöhe */
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.controller-camera-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.controller-camera-box p {
  margin: 0;
  flex-grow: 1; /* Macht den Text flexibel, sodass er in der Mitte bleibt */
  display: flex;
  align-items: center; /* Zentriert den Text vertikal */
  justify-content: center; /* Zentriert den Text horizontal */
}

.controller-camera-controls button {
  padding: 10px 20px;
  margin-top: 31.5px;
  font-size: 16px;
  color: white;
  background-color: #18acf2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controller-camera-controls button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.controller-camera-controls button:hover:not(:disabled) {
  background-color: #1e8fff;
}

.controller-arrow-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 140px;
  margin-right: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
}

.arrow-key-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex: 1;
}

.arrow-key-row {
  display: flex;
}

.arrow-key {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 5px;
  font-size: 24px;
  color: black;
}

.arrow-key.active {
  background-color: #18acf2;
}

.space-bar {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-top: 20px;
  font-size: 24px;
  color: black;
  text-align: center;
}

.space-bar.active {
  background-color: #18acf2;
}

.control-toggle {
  margin-top: 20px;
}

.control-toggle button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #6c757d;
  color: white;
  transition: background-color 0.3s ease;
}

.control-toggle button.active {
  background-color: #18acf2;
}

.control-toggle button.active:hover {
  background-color: #18acf2;
}

.control-toggle button:hover:not(.active) {
  background-color: #555;
}
