.home-container {
    display: flex;
    height: 100vh;
  }
  
  .home-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #969696;
  }
  
  .home-main {
    padding: 20px;
    overflow-x: auto;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
  }
  